 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am Rafif Naufal. An on-going student at a University in Pekanbaru, working in the field of Video Editing and having an editing business since 2018 and our focus is to help our clients to promote their business with a low budget but still get number one quality.</p>
                </div>
                <div class="col-lg-4">
                    <p>We have completed work for several big companies in pekanbaru, and our specialization is video editing and creating animated videos! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://www.youtube.com/channel/UCksCSm4afu1NZY_z_Qmfo0A/videos">
                        <i class="fa fa-caret-square-o-right"></i> My Portfolio
                    </a>
                </div>
            </div>
        </div>
    </section>
